.header {
    width: 100px;
    height: 100px;
    background-color: #3DFFAE;
}

.main {
    width: 100px;
    height: 100px;

    background-color: #F1EBFE;
}

.sidebar {
    width: 100px;
    height: 100px;

    background-color: #EFFEF8;
}

.footer {
    width: 100px;
    height: 100px;

    background-color: #973DFF;
}
